<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>E-voting App</title>
  </head>
  <body>
    <nav>
    <div class="container">
        <header>University E‑Voting System</header>
        <p>Secure • Transparent • Easy to Use</p>

        <a href="login.html" class="btn">Login to Vote</a>
        <a href="admin.html" class="btn">Admin</a>
        <a href="results.html" class="btn">View Results</a>
        <a href="candidates.html" class="btn">View Candidates</a>
    </div>
    </nav>

    <footer>
        &copy; 2025 Your University • All Rights Reserved
    </footer>
  </body>
</html>
